1. Create a string variable and print its length.

In [ ]:
s = "datascience"

In [2]:
len(s)

11

2. Take a string input from the user and print it in reverse.

In [6]:
s = str(input('please enter a string'))

please enter a string darascience

In [7]:
s[::-1]

'ecneicsarad'

3. Replace all occurrences of "a" with "@" in a given string.

In [13]:
s = 'khadarunnisa'
s.replace('a', '@')

'kh@d@runnis@'

4. Convert a string to all uppercase letters using a loop (without .upper()).

In [4]:
s = 'data science'
s.capitalize()

'Data science'

5. Count how many times the letter "e" appears in a string.

In [5]:
s = 'data science'
s.count('e')

2

6. Print the first and last character of a given string.

In [14]:
s = 'datascience'
print(s[0], s[-1])

d e

7. Concatenate two strings and print the result.

In [15]:
s1 = 'hello'
s2 = 'world'
print(s1 + " " + s2)

hello world

8. Check if a given string contains the word "Python".

In [16]:
s = "I am learning Python programming."
print("Python" in s)

True

9. Remove all spaces from a string and print the new string.

In [17]:
s = "Python is fun"
print(s.replace(" ", ""))

Pythonisfun

10.Extract and print the first five characters of a string.

In [18]:
s = 'datascience'
print(s[:5])

datas

11.Create a list of five numbers and print the list.

In [20]:
 l = [10, 20, 30, 40, 50]
print(l)

[10, 20, 30, 40, 50]

12.Print the third element of a given list.

In [21]:
print(l[2])

30

13.Replace the second element of a list with "hello".

In [22]:
l = [1, 2, 3, 4, 5]
l[1] = "hello"
print(l)

[1, 'hello', 3, 4, 5]

14.Add a new element to the end of a list.

In [23]:
l = [1, 2, 3]
l.append(4)
print(l)

[1, 2, 3, 4]

15.Remove the last element from a list and print the modified list.

In [24]:
l= [10, 20, 30, 40]
l.pop()
print(l)

[10, 20, 30]

16.Print each element of a list one by one using a loop.

In [25]:
l = [5, 10, 15, 20]

for i  in l:
    print(i)

5
10
15
20

17.Check if the number 10 is in a given list.

In [26]:
l = [5, 10, 15, 20]
print(10 in l)

True

18.Create two lists and join them into one.

In [27]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l = l1 + l2
print(l)

[1, 2, 3, 4, 5, 6]

19.Print a list in reverse order without using slicing ([::-1]).

In [28]:
l = [1, 2, 3, 4, 5]

for i in range(len(l) - 1, -1, -1):
    print(l[i])

5
4
3
2
1

20.Sort a list in ascending order without using .sort().

In [32]:
l = [5, 3, 8, 1, 2]

for i in range(len(l)):
    for j in range(len(l) - 1 - i):
        if l[j] > l[j + 1]:
           l[j], l[j + 1] = l[j + 1], l[j]

print(l)

[1, 2, 3, 5, 8]

21.Create a tuple of three colors and print it.

In [33]:
t = ("red", "green", "blue")
print(t)

('red', 'green', 'blue')

22.Print the second element of a given tuple.

In [34]:
t = ("red", "green", "blue")
print(t[1])

green

23.Try changing an element in a tuple (observe the error).

In [35]:
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

24.Convert a tuple to a list and print it.

In [36]:
t = (1, 2, 3)
l = list(t)
print(l)

[1, 2, 3]

25.Check if "blue" exists in a given tuple.

In [37]:
t = ("red", "green", "blue", "yellow")
print("blue" in t)

True

26.Print each element of a tuple using a loop.

In [38]:
for i in t:
    print(i)

red
green
blue
yellow

27.Merge two tuples and print the result.

In [39]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t = t1 + t2
print(t)

(1, 2, 3, 4, 5, 6)

28.Print a tuple in reverse order.

In [40]:
t = ("red", "green", "blue", "yellow")
for i in range(len(t) - 1, -1, -1):
    print(t[i])

yellow
blue
green
red

29.Find the length of a tuple without using len().

In [41]:
t = (10, 20, 30, 40)
count = 0

for i  in t:
      i += 1

print(i)

41

30.Create a tuple with a single element and print its type.

In [44]:
t = (1)
print(type(t))

<class 'int'>

31.Create a string "Hello, World!" and print only "World!".

In [45]:
s = "Hello, World!"
print(s[7:])

World!

32.Convert "Python is fun" to "PYTHON IS FUN" without using .upper().

In [46]:
s = "Python is fun"
s.upper()

'PYTHON IS FUN'

33.Count how many words are in "I love learning Python" (without using .split()).

In [47]:
s = "I love learning Python"
i = 1  

for char in s:
    if char == " ":
        i += 1

print(i)

4

34.Take a string input from the user and check if it starts with "Hello".

In [48]:
s = input("Enter a string: ")
print(s[:5] == "Hello")

Enter a string:  khadarunnisa

False

35.Print every second character of a string.

In [49]:
s = 'datascience'
for i in range(0, len(s), 2):
    print(s[i])

d
t
s
i
n
e

36.Replace all vowels in a string with "*".

In [53]:
s = "Hello, Python!"
s1 = ""

for i in s:
    if i.lower() in "aeiou":
        s1 += "*"
    else:
        s1 += i

print(s1)

H*ll*, Pyth*n!

37.Swap the first and last character of a string.

In [55]:
s = "Python"
s1 = s[-1] + s[1:-1] + s[0]

print(s1)

nythoP

38.Check if two given strings are the same (case-sensitive).

In [56]:
s1 = "Python"
s2 = "python"

print(s1 == s2)

False

39.Print a string without the first and last character.

In [57]:
s = "Python"
print(s[1:-1])

ytho

40.Convert a string "12345" into a list of individual characters.

In [58]:
s = "12345"
s1 = list(s)
print(s1)

['1', '2', '3', '4', '5']

41.Create a list of five cities and print only the last three.

In [59]:
l = ["New York", "London", "Paris", "Tokyo", "Sydney"]
print(l[-3:])

['Paris', 'Tokyo', 'Sydney']

42.Remove the middle element from a list of five elements.

In [60]:
l = [10, 20, 30, 40, 50]
l.pop(2)
print(l)

[10, 20, 40, 50]

43.Take five numbers from the user and store them in a list.

In [13]:
l = []
l.append(int(input("Enter a number: ")))  
l.append(int(input("Enter a number: ")))  
l.append(int(input("Enter a number: ")))  
l.append(int(input("Enter a number: ")))  
l.append(int(input("Enter a number: ")))  

print(l)

Enter a number:  10
Enter a number:  20
Enter a number:  30
Enter a number:  40
Enter a number:  50

[10, 20, 30, 40, 50]

44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].

In [15]:
l = ["banana", "orange", "apple", "grape"]
index = l.index("apple")
print(index)

2

45.Print only the even numbers from a given list.

In [16]:
l = [1, 2, 3, 4, 5, 6]

for i in l:
    if i % 2 == 0:
        print(i)

2
4
6

46.Reverse a list by swapping elements (without [::-1]).

In [6]:
l = [1, 2,3] 
l[0], l[2] = l[2], l[0]

print("Reversed list:", l)

Reversed list: [3, 2, 1]

47.Create a list of ten numbers and print only the unique elements.

In [7]:
l = [1, 2, 2, 3, 4, 5, 5, 6, 7, 7]
for i in l:
    if l.count(i) == 1:
        print(i)

1
3
4
6

48.Print the sum of all elements in a list (without using sum()).

In [12]:
l = [10, 20, 30, 40]
l1 = 0
for i in l:
    l1 += i

print( l1)

100

49.Move the first element of a list to the last position.

In [11]:
l= [1, 2, 3, 4, 5]
l1 = l.pop(0)  
l.append(l1)   

print(l)

[2, 3, 4, 5, 1]

50.Create a list with mixed data types (int, float, string) and print each element with its type.

In [14]:
l= [42, 3.14, "hello", 100, "world", 2.718]

for i in l:
    print(f"Value: {i}, Type: {type(i)}")

Value: 42, Type: <class 'int'>
Value: 3.14, Type: <class 'float'>
Value: hello, Type: <class 'str'>
Value: 100, Type: <class 'int'>
Value: world, Type: <class 'str'>
Value: 2.718, Type: <class 'float'>

51.Create a tuple of five numbers and print only the first three.

In [15]:
t = (10, 20, 30, 40, 50)
print(t[0:3])

(10, 20, 30)

52.Print the last element of a tuple without using negative indexing.

In [16]:
t = (5, 10, 15, 20, 25)
l1 = t[len(t) - 1]

print(l1)

25

53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number.

In [17]:
t = (1, 2, 3, 4, 5)
lst = list(t)
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

54.Try deleting an element from a tuple and observe the error.

In [18]:
t = (1, 2, 3, 4, 5)
del t[1]

TypeError: 'tuple' object doesn't support item deletion

55.Extract the middle element from a tuple with an odd number of elements.

In [19]:
t = (10, 20, 30, 40, 50)
t1 = len(t) // 2
t1 = t[t1]

print(t1)

30

56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.

In [20]:
t1 = (1, 2, 3)
t2 = (3, 2, 1)
t = t1 == t2

print(t)

False

57.Create a nested tuple and print an inner element.

In [22]:
t = (1, 2, (3, 4, 5), 6)
print(t)

(1, 2, (3, 4, 5), 6)

58.Merge three tuples into one.

In [23]:
t1 = (1, 2)
t2 = (3, 4)
t3 = (5, 6)
t = t1 + t2 + t3

print(t)

(1, 2, 3, 4, 5, 6)

59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).

In [31]:
t = (4,5,6,7,"aimnxt" ,45.67, True)
t[5]

45.67

60.Unpack a tuple into separate variables.

In [32]:
t = (10, 20, 30)
a, b, c = t
print("a:", a)
print("b:", b)
print("c:", c)

a: 10
b: 20
c: 30